.kanban-card {
  margin-bottom: 1rem;

  .mat-card-header {
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #cccccc;

    ::ng-deep .mat-card-header-text {
      margin: 0;
    }

    .mat-card-title {
      margin-bottom: 0;
    }
  }

  .mat-card-content {
    padding: 1rem 0;
  }

  .mat-card-actions {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #cccccc;

    .danger {
      color: #b71c1c;
    }
  }
}
